.App {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 10.625rem;
  border: 1px salmon solid;
  font-size: calc(10px + 2vmin);
  color: black;
}


.title-navbar {
  display: flex;
  align-items: baseline;
  padding-left: 12rem;
}

.title-h1 {
  font-size: 2rem;
  color: #0290ff;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-links ul a {
  text-decoration: none;
  color: #332c2c;
}


.nav-links ul li {
  padding: 0 15px;
  color: #121212;
}

/* ----- Books ------ */

.book-row {
  display: flex;
  padding:  2rem 12rem;
}

.book-first-column {
  width: 400px;
}

.book-remaining-column {
  display: flex;
}

.book-completion-status {
  width: 250px;
}

.book-progress {
  width: 300px;
}

.book-progress button {
  background-color: #379cf6;
}

.add-book-form {
  padding-left: 12rem;
}

.book-input {
  width: 360px;
  margin-right: 20px;
}

.category-select {
  width: 210px;
  margin-right: 40px;
}

.add-book-button {
  width: 250px;
}

.Cat {
  font-size: 5rem;
  padding-left: 12rem;
}